  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 14px;
    background-color: blue;
  }

  body {
    background-color: white;
  }

  h1 {
    font-weight: 100;
    font-size: 4rem;
  }

  img {
    width: 70%;
    padding-bottom: 4rem;
  }

  .sans-serif {
    font-family: 'Work Sans', sans-serif;
  }

  .blue {
    color: blue;
  }

  .inline-block {
    display: inline-block;
  }

  .display-none {
    display: none;
  }


  .relative { position: relative; }
  .absolute { position: absolute; }

  .rotate-left {
    transform-origin: top left;
    transform: rotateZ(-90deg) translateX(-100%) translateY(-120%);
  }

  .rotate-right {
    transform-origin: top right;
    transform: rotateZ(90deg) translateX(100%) translateY(-120%);
  }

  .content-container {
    max-width: 75rem;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .fixed { position: fixed; }

  .t-0 { top: 0; }
  .l-0 { left: 0; }
  .r-0 { right: 0; }

  .w-100vw { width: 100vw; }
  .h-100vh { height: 100vh; }

  .w-75rem {
    width: 75rem;
  }

  .padding-05 {
    padding: .5rem;
  }

  .border {
    border: solid;
    border-width: 10px;
    border-color: blue;
  }

  .border-box {
    box-sizing: border-box;
  }

  .t-right {
    text-align: right;
  }

  .mt-8 {
    margin-top: 8rem;
  }

  .z-neg1 {
    z-index: -1;
  }

  .z-2 {
    z-index: 2;
  }

  .mobile-title {
    -webkit-transform: rotate3d(90,45,45,35deg);
    margin: 100px 100px 0 50px;
    font-size: 2rem;
  }

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

  @media only screen and (max-width: 1200px) {
        .display-none-s {
          display: none;
        }

        .block-s {
          display: block;
        }
      }
