  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 12px;
  }

  h1 {
    font-weight: 100;
    font-size: 4rem;
  }

  .sans-serif {
    font-family: 'Work Sans', sans-serif;
  }

  .blue {
    color: blue;
  }

  .everything-container {
    -webkit-transform: rotate3d(90,45,45,35deg);
    margin: 100px 100px 0 0;
    width: 50%;
    position: absolute;
  }


  .fixed { position: fixed; }

  .t-0 { top: 0; }

  .w-100vw { width: 100vw; }
  .h-100vh { height: 100vh; }

  .border {
    border: solid;
    border-width: 10px;
  }

  .border-box {
    box-sizing: border-box;
  }
